p {
  margin-bottom: 0;
}

input[type=text], input[type=password]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input {
  padding: 12px 10px !important;
  /* margin-bottom: 6% !important; */
}

input[type=button] {
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}

/* button {
  margin-bottom: 2%;
  padding: 10px;
 
} */

button{
width: 100%;
background-color: #4CAF50;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
}

.div1 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  max-width: 500px;
  margin: auto;
}

.red {
  display: none;
  color: blue;
  margin-top: 1%;
  margin-bottom: 6%;
}

label::after {
  content: '*';
  color: red;
  padding-left: 3px;
  font-size: 15px;
}
form div{
  padding: 0px;
  margin-bottom: 5%;
}

.pass-check{
  width: 100%;
  height: 8px;
  border-color: #d8d8d8;
  /* background-color: #000000; */
  border-radius: 3px;
}

