*{
    box-sizing: border-box;
}
.big-div {
    width: 100%;
    height: 500px;
}

.big-div-img {
    max-width: 1920px;
    height: 500px;
    margin: 0 auto;
    /* background-color: black; */
}

.all-img{
    width: 100%;
    display: flex;
    height: 170px;
    /* background-color: black; */
    justify-content: space-between;
}

.img1{
    width: 16.66%;
    /* background-color: blanchedalmond; */
}

.img1:hover{
    opacity: 0.6;
}

.img1-in{
    width: 100%;
    height: 100%;
}

.btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}