input[type=text],[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=button]:hover {
    background-color: #45a049;
  }
  
  .div1 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
 
  
  }

  .div2{
    margin: 5% auto;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
  }

  .btn-class{
      max-width: 300px;
      margin: auto;
  }