* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #000;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

.glow {
    font-size: 60px;
    color: #fff;
    font-weight: bold;
    animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
}

.hr-dis {
    display: none;
}

.min-dis {
    display: none;
}

.alert-box {
    display: none;
    background-color: white;
    padding: 50px;
    font-size: 30px;
}

/* /nitin */

.alarm {
    margin-top: 30px;
    margin-bottom: 30px;
}

.alarm_form {
    width: 65%;
    display: flex;
    justify-content: space-between;
}

.input-boxes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input-box {
    width: 46%;
    padding: 10px;
    border: none;
    border: 2px solid #ff5959;
    border-radius: 5px;
}

h3 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
}

.btn1 {
    width: 23%;
    padding: 10px;
    height: 40px;
    cursor: pointer;
    background-color: #ff5959;
    border: transparent;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
}

.btn {
    width: 23%;
    padding: 10px;
    height: 40px;
    border: transparent;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #ff5959;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
}

.btns {
    width: 450px;
    display: flex;
    justify-content: space-between;
}

.btn:hover {
    transition: 0.3s all;
    border: transparent;
    background-color: #ff5959;
}

.alarm button:hover {
    transition: 0.3s all;
    border: 2px solid #ff5959;
    background-color: transparent;
}

.alarm input {
    padding: 10px;
}

.alarm_set {
    display: none;
    color: #fff;
    font-size: 20px;
    color: #ff5959;
    font-weight: bold;
}

.alert-box {
    display: none;
    background-color: white;
    padding: 50px;
    font-size: 30px;
}

.alert-box-title {
    font-size: 22px;
    font-weight: bold;
    border-bottom: 2px solid #000;
    margin-bottom: 10px;
    padding-bottom: 6px;
}

.alert-box-subtitle {
    font-size: 18px;
}

.alarm_set_title {
    margin-bottom: 10px;
}

.close {
    margin-top: 30px;
    width: 25%;
    padding: 10px;
    height: 40px;
    cursor: pointer;
    background-color: #ff5959;
    border: transparent;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
}